<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		/>
		<style>
			body {
				background-color: #ced6e0;
			}
		</style>
		<title>Document</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand font-weight-bold" href="/home">Fruits</a>
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#collapsibleNavbar"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link text-white" href="/home">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/login">LOGIN</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" href="/api/show">MY LIST</a>
					</li>
				</ul>
			</div>
		</nav>
		{% block content %} {% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<script>
			// 实现单双数的变色
			for (let item of $('.list-group li')) {
				if ($(item).index() % 2 === 0) {
					$(item).addClass('bg-dark');
					$(item).addClass('text-white');
				}
			}
			$('body').scroll(function (e) {
				// axios.delete(API_DELETE, {
				// 	params: {
				// 		id: $('.list-group #delete').index($(e.target.parentElement)),
				// 	},
				// });
				// console.log($('.list-group #delete').index($(e.target.parentElement)));
				console.log(123);
			});
		</script>
		<script src="/js/axios.min.js"></script>
		<script src="/js/create.js"></script>
		<!-- 所有使用API的方法都在这个js文件里面 -->
		<script src="/js/index.js"></script>
	</body>
</html>
